<h1><%= @cat %> Results</h1>

<body>
  <div>Number</div>
  <div><dd><%= @num %></dd></div>
  <div><%= @cat %></div>
  <div><dd><%= @result %></dd></div>

  <p><a href= <%= @next_cmd %>> <%= @next_cmd_str %> </a></p>

</body>
